:root {
  --border-color: #ffd903;
  --bg-color: rgba(1, 10, 19, 0.5);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-image: url('public/images/dropdown-border.png') 2 round;
  border-image-width: 7px;
  background-color: var(--bg-color);
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  width: 20%;
  min-width: 300px;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: all 0.5s ease;
  backdrop-filter: blur(10px);
  box-shadow: var(--border-color) 0px 0px 10px;
}

.imgChamp {
  width: 60%;
  height: 60%;
  object-fit: cover;
  border-radius: 5px;
  border: var(--bg-color) 2px solid;
  transition: all 0.5s ease;
}

.imgblur {
  position: absolute;
  top: 10%;
  width: 55% !important;
  height: 55% !important;
  z-index: -1;
  filter: blur(30px);
}

.card:hover {
  box-shadow: var(--border-color) 0px 0px 20px;
}

.card h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 2em;
  letter-spacing: 2px;
  margin-top: 30px;
  font-weight: 800;
  text-shadow: white 1px 1px 20px;
}

.rerollComponent {
  position: absolute;
  width: 80%;
  bottom: -50px;
}

.rerollButton {
  width: 100%;
  cursor: pointer;
}

.rerollDice {
  position: absolute;
  top: 25%;
  left: calc(50% - 1.5em) !important;
  width: 3em;
}